*{
    margin: 0;
    padding: 0;
}

#cassetta{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    background-color: #cccccc;
    width: 60vw;
    height: 60vh;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .6s ease;
}

#cassetta-name{
    margin: 0 5vw;
    background-color: #fff;
    transform: translateY(12vh);
    width: 50vw;
    height: 30vh;
    border-radius: 20px;
}

#cassetta-name h4{
    transform: translateY(3vh);
    text-align: center;
    font-size: 50px;
    margin-bottom: 1vh;
    font-weight: 300;
}

.line{
    display: block;
    height: 1px;
    background-color: #4FC6C1;
    margin: 0 4vw 6vh 4vw;
    transform: translateY(3vh);
}

.cassetta-bottom{
    transform: translateY(17vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 24vw;
    height: 10vh;
    background: #ffb923;
    border-top: #e1e1e1 solid 0.1em;
}

.circle{
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #4FC6C1;
}

.window{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 11vw;
    height: 7vh;
    background-color: #4FC6C1;
    overflow: hidden;
}

.tape1{
    display: block;
    width: 80px;
    height: 80px;
    background-color: #4d3b3b;
    border-radius: 50%;
    transform: translateX(-2vw);
}

.tape2{
    display: block;
    width: 80px;
    height: 80px;
    background-color: #4d3b3b;
    border-radius: 50%;
    transform: translateX(2vw);
}

.teeth-box{
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 3px #f0f0f0 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: rotateTeeth 5s linear infinite;
}

.teeth{
    width: 55px;
    height: 9px;
    box-shadow: inset #e1e1e1 9px 0 0 0,
      inset #e1e1e1 -9px 0 0 0;
    transform: translateY(1vh);
}

.teeth:nth-child(2){
    transform: rotate(60deg);
}

.teeth:nth-child(3){
    transform: translateY(-1.1vh) rotate(-60deg);
}

@keyframes rotateTeeth {
    0%{
        transform: rotate(0deg); 
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}