*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
}

.menu{
    width: 12vw;
    height: 100vh;
    box-shadow: 1px 1px 10px #cccccc;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#name{
    margin: 3vh 1vw;
    font-size: 40px;
}

.navbar{
    margin-top: 4vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar li{
    margin-bottom: 5.4vh;
}

.navbar li button{
    width: 9vw;
    height: 9vh;
    background: none;
    border: none;
}

.navbar img{
    width: 40px;
    height: 40px;
    margin-bottom: 1vh;
}

.navbar li button{
    color: #3a354e;
    opacity: 0.55;
    transition: all .3s ease-in;
}

.navbar li button:hover{
    opacity: 1;
}