*{
    margin: 0;
    padding: 0;
}

#stats-container{
    width: 64vw;
    box-shadow: 1px 1px 4px #ccc;
    margin-left: 25vw;
    height: fit-content;
}

#result-type{
    margin-top: 5vh;
    text-align: center;
    font-size: 60px;
}

#time-interval-bar{
    margin: 7vh 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time-interval-btn{
    width: 7vw;
    height: 6vh;
    font-size: 20px;
    background: none;
    border: none;
    color: #3a354e;
    opacity: 0.4;
    transition: all .4s step-start;
}

.time-interval-btn:hover{
    opacity: 1;
    border-bottom: 3px #3a354e solid;
}

.item-container{
    margin: 5vh 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-container h2{
    font-size: 20px;
}

.item-container p{
    font-size: 18px;
}

.item-text{
    width: 30vw;
}

.item-container img{
    height: 80px;
    width: 80px;
    margin-right: 3vw;
}

.selected{
    color: #3a354e;
    border-bottom: #3a354e 3px solid;
    opacity: 1;
}